.PageOrderManager {
  width: 1125px;
  margin: 0 auto;
}

.Link {
  color: #55018d;
  margin-bottom: 50px;
  a {
    text-decoration: none;
  }
  svg {
    font-size: 15px;
    margin: 0 5px;
  }
}
.TabOrderManager {
  display: flex;
  justify-content: space-between;
}
.Tab {
  border: #6401a6 1px solid;
  padding: 10px;
  width: 270px;
  h3 {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    border-radius: 7px;
    div {
      margin-right: 20px;
      display: inline-block;
      background-color: #55018d;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
  .active {
    background-color: #b696f838;
  }
}
.Content {
  width: 840px;
  .titleOrder {
    h2 {
      border-bottom: 1px solid #00000062;
      p {
        width: 120px;
        border-bottom: 3px solid #57bcf9;
      }
    }
  }
  .TabTrangThai {
    padding: 30px 0;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 700;

    p {
      padding: 10px 0;
      cursor: pointer;
      transition: all 0.05s;
      &:hover {
        color: #6401a6;
      }
    }
    .active {
      color: #6401a6;
      border-bottom: #55018d 3px solid;
    }
  }
}
.Search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 40px;
  .input-search {
    all: unset;
    width: 95%;
    padding: 5px;
  }
  svg {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    color: #646464;
    transition: all 0.3s;

    &:hover {
      color: #6401a6;
    }
  }
  margin-bottom: 20px;
}
