$border_color: #bfbfbf;
$bg_btn: #bfbfbf;

$text_color: #55018d;
$text_color2: #26aa99;

.border {
   border: 1px solid $border_color;
   border-radius: 5px;
}

.flex {
   display: flex;
   align-items: center;
}

.icon_color {
   height: 32px;
   width: 32px;
   border-radius: 50%;
   margin-right: 20px;
}

.menu_main {
   border: 1px solid #6401a6;
   border-radius: 5px;
   .ant-menu-item {
      height: 60px;
      font-size: 16px;
   }
   .ant-menu-item-selected {
      background-color: #c6b0f1;
      color: #fff;
   }
}
