.card-sale {
   .card-sale__content {
      .card-sale__title {
         font-size: 18px;
         font-weight: 600;
      }
      .card-sale__desc {
         font-size: 10px;
         font-weight: 500;
         color: rgba(0, 0, 0, 0.4);
      }
   }
}
